<% include indexfrontend.ejs %>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>BackOffice</h1>
                    <form role="form" action="/" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">username</label>
                            <input type="text" name="username" id="email" class="form-control" placeholder="username">

                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="password" id="key" class="form-control" placeholder="Password">

                        </div>

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Submit">

                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
            </body>
            </html>
