<div class="nav-side-menu">
<div class="brand">Backoffice</div>
<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

<div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

        <li>
            <a href="/admin/formAdd">
                <i class="fa fa-user fa-lg"></i> Article</a>
        </li>

        <li>
            <a href="/admin/find1">
                <i class="fa fa-users fa-lg">   </i> liste Article</a>
        </li>

        <li>
            <a href="/admin/formnews">
                <i class="fa fa-users fa-lg">   </i> News</a>
        </li>

        <li>
            <a href="/admin/findnews">
                <i class="fa fa-users fa-lg">   </i> liste News</a>
        </li>



        <li>
            <a href="/admin/find">
                <i class="fa fa-users fa-lg">   </i> liste Users</a>
        </li>

        <li>
            <a href="/admin/creation">
                <i class="fa fa-users fa-lg">   </i> Creation Users</a>
        </li>


    </ul>
</div>
</div>

